<router-outlet name="navbar"></router-outlet>

<section>
    <h1>Preguntas Frecuentes</h1>

    <ol>
        <li>
            <h3>¿QUÉ ES LA MASONERÍA?</h3>
    
            <p>Es una de las más antiguas sociedades iniciáticas del mundo.
            Esotéricamente, inculca sus enseñanzas a sus adeptos a través de Símbolos y la
            práctica de Rituales y Ceremonias según el Grado.
            Exotéricamente, es una extraordinaria asociación sustentada en principios morales
            que hace de personas libres y buenas, seres humanos útiles y provechosos a su
            familia, a su comunidad, a su nación y al mundo.
            Desde el punto de vista esotérico (en su proyección interna), la Masonería es la Orden
            Iniciática más importante de Occidente. Busca hacer de seres humanos libres de
            dogmas y prejuicios culturales, sociales, etc. y de modo de vivir honesto y bueno,
            personas capaces de trabajar por su constante construcción espiritual y superación en
            todos los aspectos, a través de una moral laica basada en el Simbolismo, como
            requisito indispensable para convertirse en agentes transformadores de su entorno
            familiar, social, comunitario y nacional. En este sentido, los Francmasones nos
            consideramos constructores del Templo dedicado al perfeccionamiento moral de la
            humanidad, cimentado en los históricos principios de Libertad, Fraternidad e
            Igualdad.
            Desde el punto de vista exotérico (en su proyección externa o social), la
            Francmasonería es una organización discreta, no secreta, que cree posible el progreso
            individual y colectivo basado en el respeto, la confianza, la honestidad, la democracia,
            la justicia y la solidaridad entre los seres humanos. Por ello, como organización de la
            Sociedad Civil, es una institución establecida sobre bases humanitarias y científicas
            que lucha por el bienestar y el progreso de sus miembros y de la comunidad en
            general.</p>
        </li>
    
        
        <li>
            <h3>¿QUIÉNES SON LOS MASONES?</h3>
    
            <p>Son hombres libres, de buenas costumbres y honestos, libre de prejuicios culturales,
            sociales políticos, religiosos, preocupados por el bienestar de los demás.</p>
        </li>
        
        
        <li>
            <h3>¿ES LA MASONERÍA UNA SOCIEDAD SECRETA?</h3>
    
            <p>La Masonería es una organización discreta no secreta, filantrópica y progresista. La
            Masonería es una institución filantrópica, progresista y humanista, y espera de sus
            miembros ser discretos con todo lo que se aprende en su interior. Por sus fines
            didácticos y ritualísticos, su estructura de aprendizaje es gradual, sistemática, litúrgica
            e histórica. La Masoneria y sus miembros han sido objeto de persecuciones, por parte 
            de personas intolerantes, y organizaciones fundamentalistas, que en muchos lugares y
            momentos han pretendido dominar a las personas a través de la ignorancia, poniendo
            límite a la conciencia y a la inteligencia del hombre, utilizando para ello el temor a un
            castigo “divino” por ejemplo, o inculcando el pecado como fórmula de temor y de
            abstención al libre pensamiento, y que por lo mismo consideran a la Masonería y a los
            masones seres contrarios a sus malsanas ideologías, principios dogmáticos y fines
            oscuros, convirtiéndose estas causas en las promotoras de la discrecionalidad que nos
            pide la orden.
            
            Sin embargo, en su tarea de contribución al mejoramiento social, cada masón en su
            actividad cotidiana, tiene el compromiso para consigo mismo y los demás de
            proclamar y poner en práctica los nobles principios y fines de la Francmasonería.
            
            Por su parte, las Logias y Obediencias (federaciones de Logias) a menudo realizan
            actividades a las que invitan a todas las personas que interesadas de alguna manera
            en conocer más y de primera mano sobre los Principios, Fines y organización de la
            Masonería y de las diferentes manifestaciones de su actividad hacia la comunidad.</p>
        </li>
    
        
        <li>
            <h3>¿POR QUÉ TIENEN SECRETOS LOS MASONES?</h3>
    
            <p>Los masones guardan discreción sobre la manera de reconocerse en la vida cotidiana,
            por razones históricas fundamentalmente, como un medio de protección contra la
            Ignorancia, el Fanatismo y la Ambición de algunas personas y sectas intolerantes y
            fundamentalistas, vicios estos tres a los cuales la Masonería ha rechazado desde sus
            orígenes.</p>
        </li>
        
        <li>
            <h3>¿LA MASONERÍA ES UNA RELIGIÓN?</h3>
    
            <p>La Masonería no es una religión, está creada en el principio de Libertad que desde su
            fundación norma su pensar, sentir y actuar, la Masonería considera las cuestiones
            metafísicas como del dominio exclusivo de la conciencia de cada individuo. Por ello,
            toda persona y por ende todo masón, es libre de creer o no creer en un principio
            creador, respeta las creencias religiosas de cada quien pues no las mezcla con los
            asuntos propios de la Orden. De ahí que pueda verse en una misma logia a personas
            que creyentes o practicantes de diversos cultos o creencias, conviviendo en perfecta
            armonía y colaborando al fin común del progreso de la humanidad.</p>
        </li>
        
        <li>
            <h3>¿EN QUÉ CREEN LOS MASONES?</h3>
    
            <p>Creen en elevados criterios morales. Creen en la honestidad en todos los actos de la
            vida. Creen que es posible convivir con tolerancia en un clima abierto pero al mismo
            tiempo respetuoso, fraternal, y colaborar en la construcción del Templo de una
            Humanidad cada vez mejor, más libre y justa.</p>
        </li>
        
        <li>
            <h3>¿QUÉ HACEN LOS MASONES EN SUS REUNIONES?</h3>
    
            <p>Dan y reciben de sus iguales enseñanzas morales, intelectuales, filosóficas,
            filantrópicas para su perfeccionamiento individual y colectivo y refuerzan sus lazos de
            unión fraternal.</p>
        </li>
        
        <li>
            <h3>SER MASÓN, PROPORCIONA ALGUNAS VENTAJAS DE ORDEN ECONÓMICO?</h3>
    
            <p>A los masones les está prohibido utilizar su condición para obtener ascensos o
            prebendas personales (de hecho, ahora en muchos países por la influencia de
            doctrinas intolerantes y sectarias ser masón puede resultar un impedimento para
            lograrlo). Lo que sí existe entre masones es un apoyo incondicional y solidario; un
            espíritu de ayuda mutua que debe practicarse en los hechos de manera desinteresada,
            primero hacia sus confraternos y luego hacia todo aquel que lo necesite.</p>
        </li>
        
        <li>
            <h3>¿SON LOS MASONES ALGO ASÍ COMO LOS ROTARIOS O LOS LEONES?</h3>
    
            <p>En algunos aspectos existen similitudes, porque todos llevan a cabo actividades
            filantrópicas. De hecho esas organizaciones como otras más han surgido o sido
            fundadas por miembros de la Francmasonería. Sin embargo, se distingue de aquellas
            por su sentido iniciático, ritualístico y ceremonial.</p>
        </li>
        
        <li>
            <h3>¿ES MUY COSTOSO PERTENECER A LA MASONERÍA?</h3>
    
            <p>Lógica y naturalmente, los masones deben contribuir solidariamente al
            mantenimiento de sus Logias y Obediencias, pero el monto y los términos de las
            aportaciones establecidas en sus reglamentos se prevén de tal manera que puedan ser
            cubiertas por todos y cada uno, sin implicar nunca un perjuicio para sí o para su
            familia.</p>
        </li>
    </ol>
</section>