<router-outlet name="navbar"></router-outlet>

<section>
  <h1>Quieres ser Mason</h1>
  <div>
    <p>Para comunicarte con la logia armonia39 del oriente de medellin puedes escribir un correo a logiarmonia39@gmail.com, de la siguiente manera:</p>
    <ul>
      <li>
        asunto: "Quiero ser mason"</li>
      <li>
        contenido: debes indicar tu edad, nacionalidad, profesion y los motivos por los cuales quieres formar parte de la masoneria.
      </li>
    </ul>
  </div>

  A todas las solicitades se les dara respuesta, solo ten paciencia y espera con calma el momento en que nosotros nos pongamos en contacto.
</section>